<!-- <ion-header class="ion-no-header">
  <ion-toolbar>
    <ion-title>signup</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="login" text="">

      </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-color ion-no-margin">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Inscription
      </ion-card-title>
      <ion-card-subtitle>
        Creation d'un CV
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
         <ion-input name="names" type="text" placeholder="Votre nom">
           <ion-icon name="person-outline"></ion-icon>
         </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="phone" type="text" placeholder="No. Telephone">
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>
     </ion-item>
     <ion-item>
      <ion-input name="email" type="text" placeholder="Email">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-input>
   </ion-item>
   <div class="sign-btn-wrap">
    <ion-button fill="solid" shape="round" class="sign-btn">Connecter</ion-button>
  </div>
  <div class="social-btns">
    <ion-button fill="clear"  class="googlebtn ion-no-padding">
      <ion-img src="assets/IonicAssets/google.png"></ion-img>
    </ion-button>
    <ion-button fill="clear"  class="facebookbtn ion-no-padding">
      <ion-img src="assets/IonicAssets/facebook.png"></ion-img>
    </ion-button>
    <ion-button fill="clear"  class="facebookbtn ion-no-padding">
      <ion-img src="assets/IonicAssets/apple.png"></ion-img>
    </ion-button>
  </div>
  <div class="ion-card-footer">
    <span>Tu as un Compte?</span><button class="ion-no-padding">Connexion</button>
  </div>
    </ion-card-content>
  </ion-card>
</ion-content>
