
<ion-content>
  <ion-card>
     <ion-card-header>
      <ion-card-title>Bienvenue</ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">Mon application de Cv en ligne developper Ionic/Angular Groupe 6 ICT202</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="signin-bts">
        <ion-button fill="solid" size="small" shape="round" class="loginbtn" (click)="gotosignUp()">Inscrire</ion-button>
        <ion-button fill="outline" size="small"  shape="round" color="dark" (click)="gotosignIn()" >Connecter</ion-button>

      </div>
      <div class="text-tag">
        <span>Ou via Reseau Social</span>
      </div>
      <div class="social-btns">
        <ion-button fill="clear"  class="googlebtn ion-no-padding">
          <ion-img src="assets/IonicAssets/google.png"></ion-img>
        </ion-button>
        <ion-button fill="clear"  class="facebookbtn ion-no-padding">
          <ion-img src="assets/IonicAssets/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear"  class="facebookbtn ion-no-padding">
          <ion-img src="assets/IonicAssets/apple.png"></ion-img>
        </ion-button>

      </div>
    </ion-card-content>
    <ion-card-content>
     

      
    </ion-card-content>
    
  </ion-card>
</ion-content>

