<ion-tabs>
  <ion-tab-bar slot="bottom,top">

    <ion-tab-button tab="profile">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="competence">
      <ion-icon name="information-circle-outline"></ion-icon>    
      <ion-label>skill</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scolaire">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Scolaire</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apropos">
      <ion-icon name="Person"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>