<ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <label>Hello</label>
    <ion-item *ngFor="let experience of experiences"> 
      <h2>
        {{ experience.id }}
      </h2>
      <div><p></p></div>
      <p>
        <strong>{{ experience.nom }}</strong>
      </p>
    </ion-item>
  </ion-list> -->
 
  <ion-item>
    <ion-label position="stacked"> Ajout
    </ion-label>
    <ion-item>
     
      <ion-input type="text" [(ngModel)]="experience.id"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input type="text" [(ngModel)]="experience.nom"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="enregister()">
    Enregister
    </ion-button>


